.container {
    position: absolute;
    overflow-y: scroll;
    width: 100vw;
    height: 98vh;
    right: -17px;
}

@media all and (orientation:portrait) {
    
    .container {
        right: -34px !important;
    }

}