/* You can add global styles to this file, and also import other style files */

html, body {
  background-color: #263238;
  background: linear-gradient(145deg, #263238, #3b464b);
  color: #fff;
  font-size: 3vh;
  font-family: 'Inconsolata', monospace;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.emoji {
  vertical-align: middle;
  line-height: 0;
}

.comment {
    color: #75715E;
}

.class,
.function,
.const {
    color: #66D9EF;
}

.class,
.const {
    font-style: italic;
}

.string, .string .infinity {
    color: #d09175;
}

.infinity {
    color: #AE81FF;
}

.operator {
    color: #529bd5;
}

.boolean {
    color: #AE81FF;
}

.constant {
    color: #AE81FF;
}

.conditional {
    color: #F92672;
}

.keyword {
    color: #A6E22E;
}

.blinker-container {
    display: inline-block;
}

.blinker {
    position: relative;
}

.blinker:before {
    position: absolute;
    top: -2.5vh;
    left: 0;
    content: '';
    width: 0.3vh;
    height: 3vh;
    margin-right: 0;
    background-color: #ffffff;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-document url-prefix() {

    .blinker:before {
        top: 0px !important;
        top: 0vw !important;
    }

}
/* <= IE 7 */
@media screen\9 {

    .blinker:before {
        top: 0px !important;
        top: 0vw !important;
    }
}

/* IE 8 */
@media \0screen {

    .blinker:before {
        top: 0px !important;
        top: 0vw !important;
    }
}

/* >= IE10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    .blinker:before {
        top: 0px !important;
        top: 0vw !important;
    }
}

@-moz-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
